.aboutcourse {
  padding: 0 190px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.aboutcourse h1 {
  font-size: 1.5625rem;
  position: relative;
  padding: 0 0 0 1.25rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 800;
  color: #333333;
  border-left: 15px solid #002db3;
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  .aboutcourse {
    padding: 0 15px;
  }
}

@media (min-width: 480px) and (max-width: 1280px) {
  .aboutcourse {
    padding: 0 50px;
  }
}
