.navbar{
    width: 100%;
    z-index: 999;
    padding: 10px 180px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.308);
}

.hamburgur{
    display: none;
    width: 40px;
    position: absolute;
    right: 5px;;
}
nav ul{
    display: flex;
    flex-direction: row;
    font-weight: 800;

}

@media (max-width:480px) {
   .navbar{
    margin: 0;
    padding: 0;
    height: 80px;
   }

   nav ul{
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    top: 80px;
    right: 15px;
    background: linear-gradient(to right, #002db3, #0033CC);
    width: 100%;
    text-align: center;
   }

   .ham{
       display: flex;
   }
   

   .hamburgur{
    display: flex;
   }
    
}

@media (min-width:480px) and (max-width:1280px){
    .navbar{
        padding: 0 40px;
    }
}